<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.aplikasiuntukuts">

    <permission android:name="com.example.android.contentprovidersample.provider.READ_WRITE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".provider.SampleContentProvider"
            android:authorities="com.example.aplikasiuntukuts.contentprovidersample.provider"
            android:enabled="true"
            android:exported="true"
            android:permission="com.example.android.aplikasiuntukuts.provider.READ_WRITE"/>
    </application>

</manifest>